.unorderedList{
    font-weight: bold;
}
.orderedList{
    font-weight: bolder;
}
.body{
    background-color: mediumaquamarine;
    font-family: Cambria;
    text-align: center;
}
.button{
    text-align: center;
}